body {
    background-color: #f0f0f0 !important;
    font-family: none, serif;
    scroll-behavior: smooth;
}

div.container {
    margin: 25px auto;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
}

div.jumbotron {
    margin: 0;
    border-radius: 0;
    color: white;
    background-color: #616e7a !important;
}

h1 {
    font-size: 45px !important;
    font-weight: 600 !important;
    margin: 0 0 6px !important;
}

a:hover{
    text-decoration: none !important;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
